<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

<b> SHAHZADA UMAR ABBAS BABAR </b>
Current Occupation: Police Officer

<i> I am interested in Data Science because as a Police Officer, my organization generates a lot of data that needs to be analyzed for timely and accurate decisions. </i>

### The Code in Cell 5 will add 2 & 3 and print the result

In [2]:
print(2+3)

5

Bulleted List:
 - Line 1 of Bullet Example
 - Line 2 of Bullet Example
 - Line 3 of Bullet Example
 

   

strikedown example
~strikedown sentence example~

Hyperlink:

https://www.google.com/

table:

| Column1 | Column2 | Column3 |
| :- | -: | :-: |
| My Example | IBM Data Science Course  | .99